* {
  text-decoration: none;
  list-style-type: none;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #f9dec9;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 8rem;
  margin: 0 1rem 0 1rem;
}

.result {
  background-color: white;
  height: 6rem;
  margin: 0 1rem 0 1rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

button {
  background-color: white;
  border: none;
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
  padding: 2rem 8rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

button:hover {
  background-color: #685044;
  color: white;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.counter-container p {
  font-size: 2rem;
  background-color: white;
  padding: 1rem 2rem;
}
